.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
  background-color: #00ABBB;
}

.uk-offcanvas-bar {
  background-color: #00ABBB !important;
}

#navbar_collapse > ul > li > a {
  min-height: 60px;
}

#navbar_toggle > div {
  color: #fff;
  min-width: 20px;
}


.content-layout {
  &__image {
    height: 773px;
    background-image: url('/images/image-center.png');
    background-size: cover;
  }
}