.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
  background-color: #00ABBB;
}

.uk-offcanvas-bar {
  background-color: #00ABBB !important;
}

#navbar_collapse > ul > li > a {
  min-height: 60px;
}

#navbar_toggle > div {
  color: #fff;
  min-width: 20px;
}

a {
  color: #fff;
}


.content-layout {
  &__image {
    min-height: 543px;
    background-image: url('/images/image-center.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__header {
    display: flex;


    @media only screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__header-text {
    color: #00ABBB;

    @media only screen and (max-width: 1200px) {
      color: #fff;
    }
  }

  &__header-hr {
    border-top: 1px solid #00abbb;

    @media only screen and (max-width: 1200px) {
      border-top: 1px solid #fff;
    }
  }
}