.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
  background-color: #00ABBB;
}

.uk-offcanvas-bar {
  background-color: #00ABBB !important;
}

#navbar_collapse > ul > li > a {
  min-height: 60px;
}