.header {
  background-image: url('/images/header.png');
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: 100% 56%;
  background-color: #f4f4f5;
  background-position: top right;

  &--secondary {
    background-size: 70%;
    min-height: 40vw;
  }
}
