.sidebar {
  &__menu {
    list-style: none;
    width: 100%;
    padding-top: 5px;
  }

  &__menu-item {
    line-height: 40px;
    font-weight: 500;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    &:hover {
      color: #00ABBB !important;
      background: #b5ffff;
    }
  }
}