.contact {
  background-color: #00ABBB;
  @media only screen and (max-width: 1000px) {
    height: 250px;
  }

  &__wrapper {
    background-color: #00ABBB;
    border-radius: 50px;
    transform: rotate(-15deg);
    width: 70vw;
    margin-top: -21%;
    padding: 15%;
    height: 150px;

    @media only screen and (min-width: 401px) and (max-width: 670px) {
      margin-bottom: 50px;
    }

    @media only screen and (max-width: 400px) {
      margin-top: -30%;
      margin-bottom: 50px;
    }

  }

  &__address {
    padding-top: 5px;
  }

  &__form-wrapper {
    text-align: center;
  }

  &__form {
    transform: rotate(15deg);
    margin: auto;
    color: #fff;
  }

  &__form-mail {
    color: #fff;
    padding: 5px;
  }

  &__form-title {
    color: #fff;
  }

  &__divider {
    width: 20%;
  }
}